html{
    background: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
}
body{
    overflow: auto;
}
.container{
    box-shadow: 0 0 20px #000;
    border-radius: 10px;
    max-width: 600px;
    width: calc(100vw - 60px);
    margin: 10vh auto;
}

@import "0-base/normalize";
@import "0-base/vars";
@import "0-base/fonts";

@import "1-components/header";
@import "1-components/todo-list";
@import "1-components/input";
