header{
    background: url(../img/bg.jpg);
    background-position: center 25%;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(#000, 0.6);
    height: 40px;
    padding: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    .thumbnail{
        float: left;
        border-radius: 50%;
        overflow: hidden;
        height: 40px;
        width: 40px;
        img{
            max-height: 100%;
            max-width: 100%;
        }
    }
    nav{
        float: left;
        list-style: none;
        color: $primary;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 11px;
        padding: 15px 0;
        li{
            float: left;
            padding: 0 10px;
        }
    }
    button{
        float: right;
    }
}
